#home-homeChats {
  padding: 12px 12px;
  color: white;
  position: relative;
  top: 85px;
  width: 170px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 0.9em;
  cursor: pointer;
  background-color: gray;
  border: 0.5px solid white;
  right: 1px;
}

#home-manageMedia {
  padding: 12px 12px;
  color: white;
  position: relative;
  top: 206px;
  width: 170px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 0.9em;
  cursor: pointer;
  background-color: rgb(38, 21, 21);
  border: 0.5px solid white;
  right: 524px;
}

#homeFooterBackground {
  background-color: black;
  padding: 60px 60px;
  width: 100%;
  top: 299px;
  z-index: 100;
  position: relative;
}

#mediaBackgroundContainer {
  position: relative;
  width: 405px;
  height: 350px;
  background-color: black;
  border-radius: 6px;
  left: 590px;
  top: 80px;
}

#upperHeading {
  position: relative;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 19px;
  text-align: center;
  top: 15px;
}

#belowLine {
  position: relative;
  background-color: white;
  width: auto;
  height: 1px;
  top: 27px;
}

#picsContainer {
  position: relative;
  width: 155px;
  height: 205px;
  left: 25px;
  background-color: white;
  border-radius: 7px;
  top: 50px;
}

#videoContainer {
  position: relative;
  width: 155px;
  height: 205px;
  left: 75px;
  background-color: white;
  border-radius: 7px;
  top: 50px;
}

#innerElements,
#innerElements2 {
  display: flex;
}

#heading1 {
  position: relative;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  color: white;
  top: 60px;
  left: 75px;
}

#heading2 {
  position: relative;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  color: white;
  top: 60px;
  left: 229px;
}

#photoCover {
  object-fit: cover;
  width: 155px;
  cursor: pointer;
  height: 205px;
}

#videoCover {
  object-fit: cover;
  width: 155px;
  cursor: pointer;
  height: 205px;
}

#lastHeading {
  position: relative;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  color: white;
  top: 82px;
  text-align: center;
}

#leftLine {
  position: relative;
  width: 164px;
  height: 1px;
  top: 74px;
  background-color: white;
}

#rightLine {
  position: relative;
  width: 164px;
  height: 1px;
  top: 72px;
  left: 240px;
  background-color: white;
}

#line1 {
  position: relative;
  background-color: white;
  z-index: 100;
  bottom: 61px;
  width: 670px;
  height: 1px;
  right: 59px;
}

#line2 {
  position: relative;
  background-color: white;
  z-index: 100;
  bottom: 62px;
  width: 669px;
  height: 1px;
  left: 887px;
}

#copyrightContent {
  z-index: 100;
  position: relative;
  color: white;
  left: 619px;
  bottom: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
